doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title Vision | Account
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(href='https://fonts.googleapis.com/css?family=Raleway', rel='stylesheet')
    link(rel='stylesheet', href='stylesheets/normalize.css')
    link(rel='stylesheet', href='stylesheets/main.css')
    link(rel='stylesheet', type='text/css', href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js')
  body#unlock
    #toggled
      a#close(href='javascript:void(0)')
        i.ion-close
      #menu-wrapper
        h1 MENU
        |  
        a(href='/') HOME
        |  
        a(href='/login') CUSTOMER LOGIN
        |  
        a(href='/custom') CUSTOM CABINETS
        |  
        a(href='/base') BASE CABINETS
        |  
        a(href='/information') INFORMATION
        |  
        a(href='/account') ACCOUNT OVERVIEW
        |  
        a(href="/logout") LOGOUT
    header#unlock
      nav
        a(href='/')
          img(src='images/logo.png')
        a#menu(href='javascript:void(0)')
          i.ion-navicon-round
      #block
        h1 ACCOUNT OVERVIEW
        if !accountLoggedIn
          p
            | You appear to not be logged in. Please login 
          a(style='text-decoraton: none; color: black;', href='/login') here
        .login-block
          form(action='/account/modify', method='POST')
            label First Name:
            input#username(type='text', name='firstName',  placeholder= firstName, required)
            |  
            label Last Name:
            input#username(type='text', name='lastName',  placeholder= lastName, required)
            |  
            label Phone Number:
            input#username(type='tel', name='phone_number',placeholder= phoneNumber, required)
            |  
            label Shipping Address 1
            |  
            input#username(type='text', required='', name="sa.shipping1", placeholder= saAddress)
            |  
            label Shipping Address 2:
            |  
            input#username(type='text', name="sa.shipping2", placeholder= billingAddress)
            |  
            label City:
            |  
            input#username(type='text', required='', name="sa.city", placeholder= saCity)
            |  
            label State:
            |  
            select(required='', name="sa.state", selected= saState)
              option(value=saState, selected) #{saState} 
              option(value='AL') Alabama
              option(value='AK') Alaska
              option(value='AZ') Arizona
              option(value='AR') Arkansas
              option(value='CA') California
              option(value='CO') Colorado
              option(value='CT') Connecticut
              option(value='DE') Delaware
              option(value='DC') District Of Columbia
              option(value='FL') Florida
              option(value='GA') Georgia
              option(value='HI') Hawaii
              option(value='ID') Idaho
              option(value='IL') Illinois
              option(value='IN') Indiana
              option(value='IA') Iowa
              option(value='KS') Kansas
              option(value='KY') Kentucky
              option(value='LA') Louisiana
              option(value='ME') Maine
              option(value='MD') Maryland
              option(value='MA') Massachusetts
              option(value='MI') Michigan
              option(value='MN') Minnesota
              option(value='MS') Mississippi
              option(value='MO') Missouri
              option(value='MT') Montana
              option(value='NE') Nebraska
              option(value='NV') Nevada
              option(value='NH') New Hampshire
              option(value='NJ') New Jersey
              option(value='NM') New Mexico
              option(value='NY') New York
              option(value='NC') North Carolina
              option(value='ND') North Dakota
              option(value='OH') Ohio
              option(value='OK') Oklahoma
              option(value='OR') Oregon
              option(value='PA') Pennsylvania
              option(value='RI') Rhode Island
              option(value='SC') South Carolina
              option(value='SD') South Dakota
              option(value='TN') Tennessee
              option(value='TX') Texas
              option(value='UT') Utah
              option(value='VT') Vermont
              option(value='VA') Virginia
              option(value='WA') Washington
              option(value='WV') West Virginia
              option(value='WI') Wisconsin
              option(value='WY') Wyoming
            |  
            label Zip Code:
            |  
            input#username(type='number', required='', name="sa.zip", placeholder= saZip)
            |  
            label E-Mail
            input#username(type='email', name='email_address',  placeholder=emailAddress, required)
            |  
            input.button(type='submit', value='SUBMIT CHANGES')
        h1 ORDER HISTORY
        .duplicate
              table
                tr
                  th Product Name
                  th Width (inches)
                  th Height (inches)
                  th Depth (inches)
                  th Rollouts
                  th Hinge Side
                  th Finish Side
                  th Hinge Type
                  th Glide Type
                  th Drawer Box
                  th Glaze
                  th Interior Color
                  th Door Style
                  th Finish Material
                  th Material
                  th Quantity
                  th ID
                if uoids != null
                  for order in uoids 
                    - var orderUOID = order.uoid
                    input(type="hidden", name="uoid", value= orderUOID)
                    tr
                      td #{order.ProductName}
                      td #{order.Width}
                      td #{order.Height}
                      td #{order.Depth}
                      td #{order.Rollouts}
                      td #{order['Hinge Sides']}
                      td #{order['Finish Sides']}
                      td #{order['Hinge Type']}
                      td #{order['Glide Type']}
                      td #{order['Drawer Box']}
                      td #{order['Glaze']}
                      td #{order['Interior Color']}
                      td #{order['Door Style']}
                      td #{order['Finish Material']}
                      td #{order['Material']}
                      td #{order['quantity']}
                      td #{order['uoid']}
    script(src='javascripts/main.js', type='text/javascript')
